@import "tailwindcss";
@import "../styles/variable.css";

* {
  font-family: var(--font-yekan) !important ;
}

body{
  background-color: var(--trust-bg);
}

html {
  scroll-behavior: smooth;
}

@utility scrollbar-none {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

