@import "tailwindcss";
@import "../styles/variable.css";

* {
  font-family: var(--font-yekan) !important ;
}

@utility scrollbar-none {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}